# Create or overwrite the requirements file with all required packages
%%writefile requirements.txt
scikit-learn
pandas
numpy
streamlit
streamlit-folium
folium

# Install everything together
!pip install -r requirements.txt
